@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:ital@0;1&display=swap);
*,
*:before,
*:after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  flex: 0 0 auto; }

.wrapper {
  width: 85%;
  margin: auto; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.cart {
  display: flex;
  flex-direction: column; }
  .cart-title {
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold; }
  .cart-header {
    display: grid;
    grid-template-columns: 4fr 1fr 3fr 1fr;
    border-bottom: 1px solid #eeeeee; }
    .cart-header .column {
      color: #999c9f;
      font-size: 12px;
      padding: 10px; }
  .cart-item {
    display: grid;
    grid-template-columns: 4fr 1fr 3fr 1fr;
    font-size: 12px; }
    .cart-item__title {
      padding-top: 15px; }
    .cart-item__count {
      display: flex;
      flex-direction: column; }
      .cart-item__count-input {
        margin-top: 15px;
        margin-bottom: 5px;
        display: flex;
        align-items: center; }
        .cart-item__count-input > input {
          width: 60px;
          height: 25px;
          border: 1 px solid #cccccc;
          padding-left: 10px; }
        .cart-item__count-input > span {
          margin-left: 5px;
          font-size: 10px;
          color: #9f9f9f; }
      .cart-item__count-attention {
        background-color: #fffaf2;
        color: #ff6600;
        border: 1px dotted #ff6600;
        font-size: 10px;
        padding: 7px 5px; }
    .cart-item__price {
      display: flex;
      padding: 15px 0; }
      .cart-item__price-price {
        font-weight: bold;
        font-size: 14px;
        min-width: 100px;
        line-height: 25px;
        padding-left: 15px; }
      .cart-item__price > span {
        font-size: 10px;
        line-height: 25px; }
    .cart-item__remove {
      padding-top: 15px; }
      .cart-item__remove > a {
        cursor: pointer;
        text-decoration: none; }
      .cart-item__remove > a:hover {
        cursor: pointer;
        text-decoration: underline; }
  .cart-total {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    align-items: center; }
    .cart-total > span {
      font-size: 10px;
      color: #9f9f9f;
      margin-right: 15px; }
    .cart-total__total {
      font-weight: bold;
      font-size: 14px;
      min-width: 100px;
      line-height: 25px;
      color: #ff6600; }

* {
  font-family: Montserrat;
  font-style: normal; }

.wrapper {
  padding-top: 40px; }

* {
  box-sizing: border-box; }

.group-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #888888;
  margin: 5px 0;
  border-radius: 5px 5px 0 0; }

.group-title {
  background-color: #d2dee2;
  display: flex;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #888888;
  min-height: 25px; }
  .group-title__icon {
    margin-left: 5px; }
    .group-title__icon svg {
      width: 25px;
      height: 25px;
      transition: transform 300ms ease; }
    .group-title__icon svg.hidden {
      transform: rotate(180deg);
      transition: transform 300ms ease; }
  .group-title__title {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    padding-left: 10px; }

.item-container {
  display: flex;
  min-height: 25px; }

.item-title {
  font-size: 10px;
  font-weight: 400;
  padding: 5px;
  width: 100%;
  cursor: pointer; }

.item-price {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  width: 65px; }

.item-container:nth-child(odd) {
  border-right: 1px solid #888888; }

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }

.course {
  margin-top: 20px; }
  .course-title {
    font-size: 14px; }
  .course > input {
    height: 25px;
    width: 80px;
    padding-left: 20px;
    margin-top: 10px; }

.catalog-wrapper {
  margin: 0 auto;
  max-width: 1000px; }

.table {
  margin-top: 40px; }

.last-update {
  margin: 20px 0;
  font-size: 10px; }

.price-down {
  background-color: rgba(0, 128, 0, 0.4); }

.price-up {
  background-color: rgba(247, 30, 30, 0.4); }

