.direction-links_position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: start;
    height: 14px;
    margin: 50px 0 70px 0;

    .direction-arrow{
      width: 31px;
      height: 8px;
      margin-right: 30px;
      align-self: center;
    }

    .direction-links__main-link {
      text-decoration: none;
      color: #757474;
      margin-right: 30px;
    }
}