@import "./style";

.a_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 10px;
}

.a_container p{
    @include block-yellow(690px, 219px);
    display: block;
    text-align: center;
}
.a_container p a{
    @include font-mon(24px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    transform: all 300ms ease;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
}

.a_container p:hover a {
    text-decoration: underline;
}

.a_container p:nth-child(3n + 1){
    @include block-image(690px, 161px, "../images/technical.png");
    display: block;
}

.a_container p:nth-child(3n + 2), .a_container p:nth-child(3n + 7){ 
    @include block-image(690px, 390px, "../images/grain.png");
    grid-row: auto / span 2;
    display: block;
}

.a_container p:nth-child(3n + 1):hover,
.a_container p:nth-child(3n + 2):hover, 
.a_container p:nth-child(3n + 7):hover, 
.a_container p:nth-child(3n + 1):hover a,
.a_container p:nth-child(3n + 2):hover a, 
.a_container p:nth-child(3n + 7):hover a { 
    box-shadow: none;
}    

.a_container p:last-child {
    margin-bottom: 80px;
}