$accent-color: #dfa008;
$button-hover: rgba(23, 23, 23, 0.15);
$button-disabled: #c4c4c4;
$main-text: #171717;
$subtext: #363636;
$main-background: #fff;
$sub-background: #f6f6f6;
$footer-background: #517679;
$img-filter-green: rgba(78, 123, 125, 0.8);
$img-filter-grey: rgba(78, 123, 125, 0.4);
$link-color: #FF9901;
$green-gray: #032D48;
$gray: #757474;

$main-font: Roboto, sans-serif;
$sub-font: Montserrat, sans-serif;


